header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid green;
    background-color: rgb(243, 243, 180, 0.692);
    margin: 0;
    padding: 0;
}
h1 {
    color: rgba(1, 51, 1, 0.61);
    text-decoration: none;
    text-transform: uppercase;
}
li {
    display: inline-block;
    margin-left:8rem;
    cursor: pointer;
    color:rgba(1, 51, 1, 0.61) ;
    text-decoration: none;

}